[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "Low level IO"
edition = "2018"
name = "llio"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
log = "0.4.14"
log-server = {package = "xous-api-log", version = "0.1.30"}
ticktimer-server = {package = "xous-api-ticktimer", version = "0.9.30"}
xous = "0.9.35"
xous-ipc = "0.9.35"
xous-names = {package = "xous-api-names", version = "0.9.32"}
susres = {package = "xous-api-susres", version = "0.9.30"}

# RTC dependencies
bitflags = "1.2.1"
locales = {path = "../../locales"}

num-derive = {version = "0.3.3", default-features = false}
num-traits = {version = "0.2.14", default-features = false}
rkyv = {version = "0.4.3", default-features = false, features = ["const_generics"]}

xous-semver = "0.1.2"

utralib = {version = "0.1.15", optional = true, default-features = false }

[target.'cfg(any(windows,unix))'.dependencies]
chrono = "0.4.19"

[dev-dependencies]
"chrono" = "0.4.19"

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
debugprint = []
wfi_off = [] # useful for serial port debugging, forces power on so the UART characters can finish printing
tts = []
test-rekey = []
dvt = []
default = [] # "debugprint"
#default = ["debugprint"] # , "fccagent"
