[package]
name = "dns"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "Xous DNS resolver"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.69"
log-server = { package = "xous-api-log", version = "0.1.68" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.69" }
xous-names = { package = "xous-api-names", version = "0.9.70" }
log = "0.4.14"
num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
net = { path = "../net" }
xous-ipc = "0.10.9"
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }
trng = { path = "../trng" }

# for the time UX wart
# time UX is stuck here because the DNS crate has a lot of connections available
# and the more logically grouped status crate has run out of resources.
llio = { path = "../llio" }
pddb = { path = "../pddb" }
chrono = { version = "0.4.33", default-features = false, features = ["std"] }
sntpc = { version = "0.3.1" }                                                 #, features = ["log"]
locales = { path = "../../locales" }
gam = { path = "../gam" }
susres = { path = "../../api/xous-api-susres", package = "xous-api-susres" }
userprefs = { path = "../../libs/userprefs" }
modals = { path = "../modals" }
precursor-hal = { path = "../../libs/precursor-hal" }

utralib = { version = "0.1.26", optional = true, default-features = false }

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
minimal-testing = []
default = []
