[package]
name = "xous"
version = "0.1.0"
authors = ["Sean Cross <sean@xobs.io>"]
edition = "2018"
description = "System call interface for Xous"

[dependencies]
bitflags = "1.2.1"
num-derive = "0.3.0"

[dependencies.num-traits]
version = "0.2"
default-features = false
