[package]
name = "bao-console"
version = "0.1.0"
edition = "2021"

[dependencies]
utralib = { version = "0.1.25", optional = true, default-features = false }
xous-names = { package = "xous-api-names", version = "0.9.64" }
ticktimer = { package = "xous-api-ticktimer", version = "0.9.62" }
xous = "0.9.64"
log-server = { package = "xous-api-log", version = "0.1.62" }
log = "0.4.14"
num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
cramium-hal = { path = "../../libs/cramium-hal", features = ["std"] }
cram-hal-service = { path = "../cram-hal-service" }

[features]
cramium-soc = ["utralib/cramium-soc"]
default = []
