[package]
name = "test-swapper"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "Manager of suspend/resume operations implementation"
license = "MIT OR Apache-2.0"
repository = "https://github.com/betrusted-io/xous-core/"
homepage = "https://betrusted.io/xous-book/"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous-api-susres = { path = "../../api/xous-api-susres" }
xous-names = { package = "xous-api-names", version = "0.9.71" }
log-server = { package = "xous-api-log", version = "0.1.69" }
xous = "0.9.70"
xous-ipc = "0.10.10"
log = "0.4.14"

num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }
xous-swapper = { path = "../xous-swapper" }

utralib = { version = "0.1.27", optional = true, default-features = false }

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
default = []
