[package]
name = "cram-hal-service"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
utralib = { version = "0.1.25", optional = true, default-features = false, features = [
    "cramium-soc",
] }
xous-names = { package = "xous-api-names", version = "0.9.64" }
ticktimer = { package = "xous-api-ticktimer", version = "0.9.62" }
xous = { version = "0.9.64", features = ["raw-trng"] }
xous-ipc = "0.10.3"
log-server = { package = "xous-api-log", version = "0.1.62" }
log = "0.4.14"
cramium-hal = { path = "../../libs/cramium-hal", features = [
    "derive-rkyv",
    "std",
] }
xous-pl230 = { path = "../../libs/xous-pl230", features = ["cramium-soc"] }
# xous-pio = { path = "../../libs/xous-pio", default-features = false, features = [
#     "cramium-soc",
# ] }
pio-proc = "0.2.2"
pio = "0.2.1"
rand_core = "0.6.4"
rand_chacha = "0.3.1"

num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }

[features]
app-uart = []
pio = []
pio-memlcd = []
rawserial = []
pinger = []
swap = []
# add this feature to enable pre-emption
quantum-timer = ["utralib", "pio"]
default = ["app-uart"]
