[package]
name = "libstd-test"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "libstd test stub"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.70"
log-server = { package = "xous-api-log", version = "0.1.69" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.70" }
xous-names = { package = "xous-api-names", version = "0.9.71" }
log = "0.4.14"
num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
net = { path = "../net" }
dns = { path = "../dns" }
com = { path = "../com" }

utralib = { version = "0.1.27", optional = true, default-features = false }

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
default = []
