[package]
name = "pddb"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "Plausibly Deniable Database"

# Dependency versions enforced by Cargo.lock.
[dependencies]
bitflags = {version = "1"}
xous = { path = "../../xous-rs" }
xous-ipc = { path = "../../xous-ipc" }
log-server = { path = "../log-server" }
ticktimer-server = { path = "../ticktimer-server" }
xous-names = { path = "../xous-names" }
log = "0.4.14"
num-derive = {version = "0.3.3", default-features = false}
num-traits = {version = "0.2.14", default-features = false}
susres = {path = "../susres"}
rkyv = {version = "0.4.3", features = ["const_generics"], default-features = false}
trng = {path = "../trng"}
spinor = {path = "../spinor"}
aes = {path="../aes"}
root-keys = {path="../root-keys"}
cipher = "0.4.2"
bitfield = "0.13.2"
aes-gcm-siv = {version = "0.11.1", default-features = false, features = ["alloc", "aes"]}
# aes-gcm-siv = {git="https://github.com/RustCrypto/AEADs.git", branch="master"}
llio = {path="../llio"}
subtle = {version = "2.4.1", default-features = false}
tts-frontend = {path="../tts"}

# passwords
sha2 = {path = "../engine-sha512"}
digest = "0.9.0"
hkdf = "0.11.0"
zeroize = "1.3.0"
zeroize_derive = "1.1.0"

# bcrypt
blowfish = { version = "0.9.1", features = ["bcrypt"] }

# UX (for password entry and notifications)
gam = {path="../gam"}
locales = {path = "../../locales"}
modals = {path="../modals"}

[target.'cfg(not(any(windows,unix)))'.dependencies]
utralib = { path = "../../utralib"}

[target.'cfg(any(windows,unix))'.dependencies]
rand = "0.7.3"
rand_chacha = "0.3.1"

hex = { version = "0.4.3", default-features = false, features = ["alloc"], optional = true }

[features]
# when selected, physical disk addresses are set to 64 bits, otherwise, they are 32 bits.
# 32 bit addressing is recommended for Precursor, as its disk is only 128MiB and it has limited RAM for bookkeeping.
u64_pa = []
# selecting mbbb employs a "make before break" update on the page table. This minimizes risk of corruption of
# the page table when being updated in the case of a power loss, in exchange for more than doubling the time it
# takes to update the page table.
mbbb = []
# selecting deterministic makes the allocation and page replacement algorithms deterministic. normally we don't want
# this but it's helpful for debugging.
deterministic = []
# this flag adds CI tests to the build
ci = []
# hosted mode manual tests
pddbtest = []
# turns on automatic basis tracking. must also be used in conjunction with pddbtest
autobasis = []
# this feature is for text-to-speech support
tts = []
# support migration type 1, from version 00.00.01.01 -> 00.00.02.01, incurs a 42kiB penalty in binary size
migration1 = []
# hazardous debug flag decorates any debug paths that might accidentally leak key material
hazardous-debug = []
test-rekey = []
# routines to help with performance profiling of the PDDB in hosted mode
pddb-flamegraph = ["hex"]
default = ["mbbb"]
