[package]
name = "ctap-crypto"
version = "0.1.0"
authors = [
  "Fabian Kaczmarczyck <kaczmarczyck@google.com>",
  "Guillaume Endignoux <guillaumee@google.com>",
  "Jean-Michel Picod <jmichel@google.com>",
]
license = "Apache-2.0"
edition = "2018"

[dependencies]
cbor = { path = "../cbor" }
arrayref = "0.3.6"
subtle = { version = "2.2.3", default-features = false}
trng = {path = "../../../../services/trng"}
xous-names = {package = "xous-api-names", version = "0.9.50"}
rand_core = "0.6.3"
p256 = {version = "0.10.1", default-features = false, features = ["ecdsa", "ecdh", "std"]}
cbc = "0.1.2"
aes = {path="../../../../services/aes"}
sha2 = {path="../../../../services/engine-sha512"}

log = "0.4.14" # xous debugging

[target.'cfg(any(windows,unix))'.dependencies]
rand = "0.8.5"
rand_chacha = "0.3.1"
cbor = { path = "../cbor" }
regex = { version = "1" }
untrusted = { version = "0.7.0" }
hex = { version = "0.3.2", default-features = false } # do not update this, it's required to be at this version for tests to work.
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
# ring = { version = "0.16.11" }
byteorder = { version = "1", default-features = false }
rfc6979 = "0.2.0"

[features]
with_ctap1 = []