[package]
name = "content-plugin-api"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "Content Canvas Plugin Common APIs"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.64"
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }
graphics-server = { path = "../graphics-server" } # this is used by the IMEF portion of the API
xous-names = { package = "xous-api-names", version = "0.9.64" } # used by the IMEF for registering listeners
log = "0.4.14"
