[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "Provide high-resolution, non-rollover system time"
edition = "2018"
name = "xous-ticktimer"
version = "0.1.32"
license = "MIT OR Apache-2.0"
repository = "https://github.com/betrusted-io/xous-core/"
homepage = "https://betrusted.io/xous-book/"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous-api-ticktimer = "0.9.53"
xous = "0.9.57"
xous-ipc = "0.9.57"
xous-names = { package = "xous-api-names", version = "0.9.55" }
log-server = { package = "xous-api-log", version = "0.1.53" }
susres = { package = "xous-api-susres", version = "0.9.53" }
log = "0.4.14"
rkyv = { version = "0.4.3", default-features = false, features = [
    "const_generics",
] }
num-derive = { version = "0.3.3", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
xous-semver = "0.1.2"
utralib = { version = "0.1.24", optional = true, default-features = false }

# TODO: fix this
#[target.'cfg(target_arch = "arm")'.dependencies]
#atsama5d27 = { git = "https://github.com/Foundation-Devices/atsama5d27.git", branch = "master" }

[features]
#atsama5d27 = ["utralib/atsama5d27"]

# you may want to remove the watchdog feature if you're debugging a crash, as it will force the system to reboot automatically
precursor = ["utralib/precursor", "susres/precursor", "watchdog"]
hosted = ["utralib/hosted", "susres/hosted", "watchdog"]
renode = ["utralib/renode", "susres/renode", "watchdog"]

cramium-soc = ["utralib/cramium-soc"]
cramium-fpga = ["utralib/cramium-fpga"]

debug-print = []
watchdog = []
timestamp = []
default = []     # watchdog option is now moved into individual platform configs
# default = []
# default = ["debug-print"]

# Note to self: if implementing "susres" for cramium targets,
# it's currently a "susres" feature flag in the implementation crate,
# but 'feature = "cramium-fpga"' clauses in main.rs!
