[package]
name = "ffi-test"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "FFI test integration"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.58"
log-server = { package = "xous-api-log", version = "0.1.54" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.54" }
xous-names = { package = "xous-api-names", version = "0.9.56" }
log = "0.4.14"
num-derive = { version = "0.3.3", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
susres = { package = "xous-api-susres", version = "0.9.54" }
ffi-sys = { path = "sys" }
keyboard = { path = "../keyboard" }

utralib = { version = "0.1.24", optional = true, default-features = false }

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
default = []
