[package]
name = "modals"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "Ux modals server"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.64"
log-server = { package = "xous-api-log", version = "0.1.62" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.62" }
xous-names = { package = "xous-api-names", version = "0.9.64" }
log = "0.4.14"
num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
xous-ipc = "0.10.3"
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }
gam = { path = "../gam" }
trng = { path = "../trng", optional = true }
cram-hal-service = { path = "../cram-hal-service", optional = true } # provides trng for cramium-soc
tts-frontend = { path = "../tts" }
locales = { path = "../../locales" }
bit_field = "0.9.0"

utralib = { version = "0.1.25", optional = true, default-features = false }

[features]
precursor = ["utralib/precursor", "trng"]
hosted = ["utralib/hosted", "trng"]
renode = ["utralib/renode", "trng"]
cramium-soc = ["utralib/cramium-soc", "cram-hal-service"]
tts = []
ditherpunk = []
hazardous-debug = []
default = ["trng"]
