[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "Status bar for Xous"
edition = "2018"
name = "status"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
com = {path = "../com"}
content-plugin-api = {path = "../content-plugin-api"}
log = "0.4.14"
log-server = {package = "xous-api-log", version = "0.1.28"}
ticktimer-server = {package = "xous-api-ticktimer", version = "0.9.28"}
trng = {path = "../trng"}
llio = {path = "../llio"}
xous = "0.9.33"
xous-ipc = "0.9.33"
xous-names = {package = "xous-api-names", version = "0.9.30"}
graphics-server = {path = "../graphics-server"}
gam = {path = "../gam"}
locales = {path = "../../locales"}
susres = {package = "xous-api-susres", version = "0.9.28"}
root-keys = {path = "../root-keys"}
modals = {path = "../modals"}
pddb = {path = "../pddb"}
net = {path = "../net"}
keyboard = {path = "../keyboard"}
usb-device-xous = {path="../usb-device-xous"}
codec = {path="../codec"}
userprefs = {path = "../../libs/userprefs"}

num-derive = {version = "0.3.3", default-features = false}
num-traits = {version = "0.2.14", default-features = false}
rkyv = {version = "0.4.3", default-features = false, features = ["const_generics"]}

chrono = {version = "0.4.19", default-features = false, features = ["std"]}
sntpc = {version = "0.3.1"} #, features = ["log"]
crossbeam = "0.8.2"

sha2 = {path="../engine-sha512"}
digest = "0.9.0"
xous-semver = "0.1.2"
com_rs-ref = {path = "../../imports/com_rs-ref"}

utralib = {version = "0.1.13", optional = true, default-features = false }

# short circuit the datetime call on hosted mode
[target.'cfg(any(windows,unix))'.dependencies]
chrono = "0.4.19"

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
debugprint = []
braille = [] # used for braille mode, so console isn't overwhelmed with status
tts = []
# default = ["debugprint"] # "debugprint"
dbg-ecupdate = []
ditherpunk = []
test-rekey = []
efuse = []
no-codec = []
minimal-testing = []
default = []
