[package]
name = "cram-console"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
utralib = { version = "0.1.24", optional = true, default-features = false }
xous-names = { package = "xous-api-names", version = "0.9.61" }
ticktimer = { package = "xous-api-ticktimer", version = "0.9.59" }
xous = "0.9.63"
xous-ipc = "0.9.63"
log-server = { package = "xous-api-log", version = "0.1.59" }
log = "0.4.14"
num-derive = { version = "0.3.3", default-features = false }
num-traits = { version = "0.2.14", default-features = false }

xous-pio = { path = "../../libs/xous-pio", optional = true }
xous-pl230 = { path = "../../libs/xous-pl230", optional = true }
# this is temporary, until we get GAM/modals pulled in
graphics-server = { path = "../graphics-server" }
modals = { path = "../modals", features = ["cramium-soc"] }
gam = { path = "../gam" }
locales = { path = "../../locales" }
usb-device-xous = { path = "../usb-device-xous", default-features = false }
cramium-hal = { path = "../../libs/cramium-hal", features = ["std"] }
cram-hal-service = { path = "../cram-hal-service" }
ime-plugin-shell = { path = "../ime-plugin-shell" }
xous-swapper = { path = "../xous-swapper" }

[features]
"cramium-fpga" = ["utralib/cramium-fpga", "xous-pl230/cramium-fpga"]
"cramium-soc" = ["utralib/cramium-soc", "xous-pl230/cramium-soc"]
"hwsim" = []
"shellperf" = []
"mass-storage" = []
"clifford-poll" = []
"tts" = []
"early-ball" = []
"pio-test" = ["xous-pio"]
"pl230-test" = ["xous-pl230"]
"hwtest" = []
"pddb" = []
default = []
