[package]
name = "usb-device-xous"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "Xous USB device drivers"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.9"
xous-ipc = "0.9.9"
log-server = { version = "0.1.3", package = "xous-api-log" }
ticktimer-server = { version = "0.9.1", package = "xous-api-ticktimer" }
xous-names = { version = "0.9.3", package = "xous-api-names" }
log = "0.4.14"
llio = {path="../llio"}
num-derive = {version = "0.3.3", default-features = false}
num-traits = {version = "0.2.14", default-features = false}
rkyv = {version = "0.4.3", default-features = false, features = ["const_generics"]}
susres = {version = "0.9.1", package = "xous-api-susres"}
modals = {path = "../modals"}
keyboard = {path = "../keyboard"}
bitfield = "0.13.2"
vcell = "0.1.3"
xous-semver = "0.1.2"
utralib = { version = "0.1.3", optional = true, default-features = false }

usbd-human-interface-device = "0.2.1"
embedded-time = "0.12.1" # required by the keyboard interface
packed_struct = { version = "0.10", default-features = false } # used by the usbd-human-interface-device crate
num_enum = { version = "0.5", default-features = false } # used by the usbd-human-interface-device crate

[dependencies.usb-device]
# see top level Cargo.toml for patch.crates-io directive to help with dev work
version = "0.2.8"
features=["log"]

[dev-dependencies]
rand = "0.7.3"
rand_chacha = "0.3.1"

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
mjolnir = [] # the big hammer for debugging Spinal USB issues. A raw memory dump of config and descriptor space. Use with care.
default = []
