[package]
name = "spinor"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "SPINOR ROM operations server"

[dependencies]
xous = { path = "../../xous-rs" }
log-server = { path = "../log-server" }
ticktimer-server = { path = "../ticktimer-server" }
xous-names = { path = "../xous-names" }
log = "0.4"
susres = {path = "../susres"}
trng = { path = "../trng" }
com = { path = "../com" }

rkyv = {version = "0.4.3", default-features = false, features = ["const_generics"]}
xous-ipc = { path = "../../xous-ipc" }
num-derive = {version = "0.3", default-features = false}
num-traits = {version = "0.2", default-features = false}

[target.'cfg(not(any(windows,unix)))'.dependencies]
utralib = { path = "../../utralib"}

[dev-dependencies]
lazy_static = "1.4.0"
rand = "0.8"

[features]
default = []

[lib]
test = true

[[bin]]
name = "spinor"
test = false