[package]
name = "spinor"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "SPINOR ROM operations server"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.69"
log-server = { package = "xous-api-log", version = "0.1.68" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.69" }
xous-names = { package = "xous-api-names", version = "0.9.70" }
log = "0.4.14"
susres = { path = "../../api/xous-api-susres", package = "xous-api-susres" }
trng = { path = "../trng" }
com = { path = "../com" }
llio = { path = "../llio" }
precursor-hal = { path = "../../libs/precursor-hal" }

rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }
xous-ipc = "0.10.9"
num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }

utralib = { version = "0.1.26", optional = true, default-features = false }

[dev-dependencies]
lazy_static = "1.4.0"
rand = "0.8.5"

[features]
precursor = ["utralib/precursor"]
vexii-test = []
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
extra_flush = []
default = []

[lib]
test = true

[[bin]]
name = "spinor"
test = false
