[package]
name = "sha2"
version = "0.9.8"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "Sha512 hardware accelerator engine"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.47"
log-server = { package = "xous-api-log", version = "0.1.43" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.43" }
xous-names = { package = "xous-api-names", version = "0.9.45" }
log = "0.4.14"
susres = {package = "xous-api-susres", version = "0.9.43"}
trng = { path = "../trng" }

xous-ipc = "0.9.47"
num-derive = {version = "0.3.3", default-features = false}
num-traits = {version = "0.2.14", default-features = false}
rkyv = {version = "0.4.3", default-features = false, features = ["const_generics"]}

# Rust-standard digest API dependencies
digest = "0.9.0"
block-buffer = "0.9.0"
opaque-debug = "0.3.0" # prevents internal hash state leakage from debug structures

utralib = { version = "0.1.20", optional = true, default-features = false }

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
event_wait = [] # in theory, event_wait should be more efficient, but the OS overhead is greater than the computation.
default = []
