[package]
name = "keystore"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2021"
description = "Keystore server for compact devices"

# Dependency versions enforced by Cargo.lock.
[dependencies]
utralib = { version = "0.1.27", optional = true, default-features = false }
xous-names = { package = "xous-api-names", version = "0.9.71" }
ticktimer = { package = "xous-api-ticktimer", version = "0.9.70" }
xous = "0.9.70"
log-server = { package = "xous-api-log", version = "0.1.69" }
log = "0.4.14"
num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
bao1x-hal = { path = "../../libs/bao1x-hal", features = [
    "std",
], optional = true }
bao1x-hal-service = { path = "../bao1x-hal-service", optional = true }
bao1x-emu = { path = "../bao1x-emu", optional = true }
bao1x-api = { path = "../../libs/bao1x-api" }
xous-ipc = "0.10.10"
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }
keystore-api = { path = "../../libs/keystore-api" }

zeroize = { version = "1.7.0", features = ["zeroize_derive"] }
rand_core = "0.6.4"
rand = "0.8.5"

aes-kw = { version = "0.2.1", features = ["alloc"] }

# bcrypt
cipher = "0.4.3"
blowfish = { version = "0.9.1", features = ["bcrypt"] }

# password modals - keep them in this crate to minimize plaintext password manipulations
locales = { path = "../../locales" }
# non-password modals are outsourced to a common crate
modals = { path = "../modals", optional = true }

# backups
aes-gcm-siv = { version = "0.11.1", default-features = false, features = [
    "alloc",
    "aes",
] }
#aes-gcm-siv = {git="https://github.com/RustCrypto/AEADs.git", branch="master"}
subtle = { version = "2.4.1", default-features = false }

# private keys
#sha2 = {version = "0.9.5", default-features = false, features = []}
sha2 = { version = "0.10.8" }
digest = "0.10.7"
aes = { path = "../aes", default-features = false, optional = true }
# engine-25519 = { path = "../engine-25519" }
byteorder = "1.4.3" # used by keywrap
# hardware acceleration adaptations are inserted into a fork of the main branch.
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
hkdf = "0.12.4"

#[dependencies.curve25519-dalek]
#version = "=4.1.2"                           # note this is patched to our fork in ./Cargo.toml
#default-features = false
#features = ["auto-release", "warn-fallback"]

#[dependencies.ed25519-dalek]
#version = "2.1.0"
#path = "../../../ed25519-dalek"
#default-features = false
#features = ["rand_core", "digest"]

[features]
bao1x = ["utralib/bao1x", "aes/bao1x"]

debug-hal = ["bao1x-hal/debug-print-duart"]

board-baosec = [
    "utralib/bao1x",
    "keystore-api/gen2",
    "bao1x-hal",
    "bao1x-hal-service/board-baosec",
    "bao1x-hal/security",
] # USB form factor token
loader-baosec = []
test-baosec = []
hosted-baosec = [
    "keystore-api/gen2",
    "modals/no-gam",
    "aes",
] # emulated hardware on x86 platform
board-baosor = [
    "utralib/bao1x",
    "keystore-api/gen2",
    "modals/bao1x",
    "bao1x-hal-service/board-baosor",
] # Precursor form factor
loader-baosor = []
board-dabao = [
    "utralib/bao1x",
    "keystore-api/gen2",
    "bao1x-hal",
    "bao1x-hal-service/board-dabao",
    "bao1x-hal/security",
] # Dev board form factor
loader-dabao = []

hazardous-debug = [
] # this feature enables the printing of secret materials for debug purposes
tts = []
efuse = []
default = []
