[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "IME Plugin Common APIs"
edition = "2018"
name = "ime-plugin-api"
version = "0.1.0"

# Dependency policy: nail down all dependencies to the minor version number, so that changes to the code base are deliberate acts.
[dependencies]
graphics-server = {path = "../graphics-server"}# this is used by the IMEF portion of the API
log = "0.4.14"
xous = {path = "../../xous-rs"}
xous-ipc = {path = "../../xous-ipc"}
xous-names = {path = "../xous-names"}# used by the IMEF for registering listeners

num-derive = {version = "0.3.3", default-features = false}
num-traits = {version = "0.2.14", default-features = false}
rkyv = {version = "0.4.3", default-features = false, features = ["const_generics"]}
