[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "IME Text to Speech Plugin"
edition = "2018"
name = "ime-plugin-tts"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
ime-plugin-api = { path = "../ime-plugin-api" }
log = "0.4.14"
log-server = { package = "xous-api-log", version = "0.1.59" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.59" }
xous = "0.9.63"
xous-ipc = "0.9.63"
xous-names = { package = "xous-api-names", version = "0.9.61" }

num-derive = { version = "0.3.3", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
rkyv = { version = "0.4.3", default-features = false, features = [
    "const_generics",
] }

tts-frontend = { path = "../tts" }
locales = { path = "../../locales" }

utralib = { version = "0.1.24", optional = true, default-features = false }

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
debugprint = []
default = []                      # "debugprint"
