[package]
authors = ["Sean Cross <sean@xobs.io>"]
description = "Program to test the log server"
edition = "2021"
name = "ticktimer-test-client"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.70"
log = "0.4.14"
log-server = { package = "xous-api-log", version = "0.1.69" }
susres = { path = "../../api/xous-api-susres", package = "xous-api-susres", optional = true }
xous-names = { package = "xous-api-names", version = "0.9.71", optional = true }

[features]
susres-testing = ["susres", "xous-names"]
default = []
