[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "Xous microkernel OS inter-process name resolution server"
edition = "2018"
name = "xous-swapper"
version = "0.1.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/betrusted-io/xous-core/"
homepage = "https://betrusted.io/"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous-api-names = "0.9.69"
log-server = { package = "xous-api-log", version = "0.1.67" }
xous = { version = "0.9.68", features = ["swap"] }
xous-ipc = "0.10.8"
num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
log = "0.4.14"
loader = { path = "../../loader", features = ["swap"], optional = true }
aes-gcm-siv = { version = "0.11.1", default-features = false, features = [
    "aes",
] }
aes = { path = "../aes", default-features = false, optional = true, features = [
    "chaffing",
] }
bao1x-hal = { path = "../../libs/bao1x-hal", optional = true, default-features = false }
precursor-hal = { path = "../../libs/precursor-hal", optional = true, default-features = false }
bao1x-api = { path = "../../libs/bao1x-api", optional = true, default-features = false }

utralib = { version = "0.1.26", optional = true, default-features = false }

[target.'cfg(any(windows,unix))'.dependencies]

[features]
bao1x = ["utralib/bao1x", "loader/bao1x", "bao1x-api/std", "aes/bao1x"]
board-baosec = ["bao1x-hal/board-baosec", "bao1x"]
board-baosor = ["bao1x-hal/board-baosor", "bao1x"]
board-dabao = ["bao1x-hal/board-dabao", "bao1x"]

precursor = ["utralib/precursor", "precursor-hal"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode", "precursor-hal"]
swap-userspace-testing = []
oom-doom = []

debug-verbose = []

# mutually exclusive feature with other crates that use the app UART
# *** requires "userspace-swap-debug" to be passed to the loader for this to work. ***
debug-print-swapper = []
default = []
