[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "Manage keyboard input"
edition = "2018"
name = "keyboard"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
log = { version = "0.4", features = [
    "max_level_trace",
    "release_max_level_trace",
] }
log-server = { package = "xous-api-log", version = "0.1.55" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.55" }
xous = "0.9.59"
xous-ipc = "0.9.59"
xous-names = { package = "xous-api-names", version = "0.9.57" }
llio = { path = "../llio" }
susres = { package = "xous-api-susres", version = "0.9.55" }
spinor = { path = "../spinor" }

num-derive = { version = "0.3.3", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
rkyv = { version = "0.4.3", default-features = false, features = [
    "const_generics",
] }

utralib = { version = "0.1.24", optional = true, default-features = false }
early_settings = { path = "../early_settings" }

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
dvt = []
debugprint = []
debuginject = [
] # used only if you want direct key injection via serial or USB. Could be a security risk!
rawserial = []
braille = []
inject-api = [] # used by the serial feature in usb
default = ["debuginject"] # "debugprint"
