[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "Graphical Abstraction Manager for Xous"
edition = "2018"
name = "gam"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
com = { path = "../com" }                                                 # used by the backlight setting on the main menu thread
content-plugin-api = { path = "../content-plugin-api" }
graphics-server = { path = "../graphics-server" }
ime-plugin-api = { path = "../ime-plugin-api" }
ime-plugin-shell = { path = "../ime-plugin-shell" }
keyboard = { path = "../keyboard", optional = true }
log = "0.4.14"
log-server = { package = "xous-api-log", version = "0.1.68" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.69" }
trng = { path = "../trng", optional = true }
xous = "0.9.69"
xous-ipc = "0.10.9"
xous-names = { package = "xous-api-names", version = "0.9.70" }
blitstr2 = { path = "../../libs/blitstr2" }
ux-api = { path = "../../libs/ux-api", default-features = false }

num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }

susres = { path = "../../api/xous-api-susres", package = "xous-api-susres", optional = true }                  # used for the sleep now menu item
bao1x-hal-service = { path = "../bao1x-hal-service", optional = true, default-features = false }

enum_dispatch = "0.3.7"              # used for trait-based dispatch off of multiple layout objects.
locales = { path = "../../locales" }

tts-frontend = { path = "../tts" }

qrcode = { version = "0.12", default-features = false }
miniz_oxide = "0.4.4"
# pix = "0.13"

# used in bip39 dialogue
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
sha2 = { version = "0.10.8" }
digest = "0.9.0"

utralib = { version = "0.1.26", optional = true, default-features = false }

[features]
precursor = [
    "utralib/precursor",
    "sha2/precursor",
    "keyboard",
    "trng",
    "susres",
    "ux-api/precursor"
]
hosted = ["utralib/hosted", "sha2/hosted", "keyboard", "trng", "susres", "ux-api/hosted"]
renode = ["utralib/renode", "sha2/renode", "keyboard", "trng", "susres", "ux-api/renode"]
bao1x = ["utralib/bao1x", "bao1x-hal-service"]
debugprint = []
tts = []
# default = ["debugprint"] # "debugprint"
default = []
ditherpunk = []
unsafe-app-loading = [
] # allow new contexts to be registered dynamically - this is unsafe and should not be set for release builds.
