[package]
name = "loader"
version = "0.1.0"
authors = [
    "Sean Cross <sean@xobs.io>",
    "Foundation Devices, Inc. <hello@foundationdevices.com>",
]
edition = "2018"
description = "Initial kernel loader for Xous"

[dependencies]
ed25519-dalek-loader = { path = "ed25519-dalek-loader", default-features = false, optional = true }
curve25519-dalek-loader = { path = "curve25519-dalek-loader", default-features = false, features = [
    "u32e_backend",
], optional = true }
utralib = { version = "0.1.24", optional = true, default-features = false }
armv7 = { git = "https://github.com/Foundation-Devices/armv7.git", branch = "update", optional = true }
atsama5d27 = { git = "https://github.com/Foundation-Devices/atsama5d27.git", branch = "master", optional = true }
sha2-loader = { path = "./sha2-loader", default-features = false, optional = true }
cramium-hal = { path = "../libs/cramium-hal", optional = true, default-features = false }
xous-pl230 = { path = "../libs/xous-pl230", optional = true, features = [
    "tests",
    "pio",
    "cramium-soc",
    "baremetal",
] }
xous-pio = { path = "../libs/xous-pio", optional = true, features = [
    "tests",
    "cramium-soc",
    "baremetal",
] }
aes-gcm-siv = { version = "0.11.1", default-features = false, features = [
    "aes",
], optional = true }
crc = { version = "1.8.1", default-features = false }
rand_chacha = { version = "0.3.1", optional = true, default-features = false }
pio-proc = { version = "0.2.2", optional = true }
pio = { version = "0.2.1", optional = true }
riscv = { version = "0.5.6", package = "xous-riscv" }

[dependencies.com_rs]
git = "https://github.com/betrusted-io/com_rs"
branch = "main"

[dev-dependencies]
lazy_static = "1.4.0"

[features]
precursor = [
    "utralib/precursor",
    "ed25519-dalek-loader/precursor",
    "curve25519-dalek-loader/precursor",
    "resume",
    "secboot",
    "sha2-loader",
]
renode = [
    "utralib/renode",
    "ed25519-dalek-loader/renode",
    "curve25519-dalek-loader/renode",
    "secboot",
    "sha2-loader",
]
cramium-soc = [
    "utralib/cramium-soc",
    "debug-print",
    "simulation-only",
    "cramium-hal",
    "xous-pio",
    "xous-pl230",
    "rand_chacha",
    "sram-margin",
    "boot-delay",
]
cramium-fpga = [
    "utralib/cramium-fpga",
    "debug-print",
    "simulation-only",
    "cramium-hal",
]
atsama5d27 = ["utralib/atsama5d27", "armv7", "dep:atsama5d27"]
platform-tests = []
debug-print = []
earlyprintk = []
renode-bypass = []
secboot = []
simulation-only = []
board-bringup = []
sram-margin = []
boot-delay = []
#default = ["debug-print"]
swap = ["aes-gcm-siv"]
quantum-timer-test = ["pio", "pio-proc"]
spim-test = []
spi-alt-channel = []
irq-test = []
usb-test = []
trng-test = []
dump-trng = []
resume = []                              # suspend/resume pathway code
default = ["board-bringup", "dump-trng"]
