[package]
name = "loader"
version = "0.1.0"
authors = ["Sean Cross <sean@xobs.io>"]
edition = "2018"
description = "Initial kernel loader for Xous"

[dependencies]
ed25519-dalek-loader = { path = "ed25519-dalek-loader", default-features = false }
curve25519-dalek-loader = { path = "curve25519-dalek-loader", default-features = false, features = ["u32e_backend"] }
utralib = { version = "0.1.13", optional = true, default-features = false }

[dependencies.com_rs]
git = "https://github.com/betrusted-io/com_rs"
branch = "main"

[dev-dependencies]
lazy_static = "1.4.0"

[features]
precursor = ["utralib/precursor", "ed25519-dalek-loader/precursor", "curve25519-dalek-loader/precursor", "resume"]
renode = ["utralib/renode", "ed25519-dalek-loader/renode", "curve25519-dalek-loader/renode", "resume"]
cramium = ["utralib/cramium"]
platform-tests = []
debug-print = []
earlyprintk = []
renode-bypass = []
#default = ["debug-print"]
resume = [] # suspend/resume pathway code
default = []