[package]
name = "bao1x-boot1"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "Boot1 partition"

[dependencies]
xous = "0.9.69"
utralib = { version = "0.1.26", optional = true, default-features = false }
bao1x-hal = { path = "../../libs/bao1x-hal", optional = true, default-features = false }
bao1x-api = { path = "../../libs/bao1x-api", optional = true, default-features = false }
vexriscv = { version = "0.5.6", package = "xous-riscv" }
riscv = { version = "0.14.0", features = ["critical-section-single-hart"] }
linked_list_allocator = { version = "0.10.5", optional = true }
critical-section = "1.2.0"
ux-api = { path = "../../libs/ux-api", optional = true, default-features = false }
simple-fatfs = { git = "https://github.com/betrusted-io/simple-fatfs.git", branch = "baosec", default-features = false }
sha2-bao1x = { path = "../sha2-bao1x", default-features = false }
digest = { version = "0.10.7" }
ed25519-dalek = { package = "ed25519-dalek-bao1x", path = "../ed25519-dalek-bao1x", default-features = false, features = [
    "digest",
    "zeroize",
], optional = true }
base64 = { version = "0.22.1", default-features = false, features = ["alloc"] }
xous-bio-bdma = { path = "../../libs/xous-bio-bdma", default-features = false, features = [
    "baremetal",
] }
rand_chacha = { version = "0.3.1", default-features = false }

[features]
# Baochip feature tree below
bao1x = [
    "utralib/bao1x",
    "linked_list_allocator",
    "bao1x-hal/loader-baosec",
    "bao1x-hal/security",
    # "bao1x-hal/debug-print-duart",
    # "bao1x-hal/debug-countermeasures",
    "bao1x-api",
    # needed for the boot logo
    "ux-api/loader-baosec",
]
unsafe-debug = []
verbose-debug = ["bao1x-hal/debug-print-uart", "bao1x-hal/verbose-debug"]
print-ifr = []

test-boot0-keys = []
alt-boot1 = []

oem = []
oem-baosec-lite = ["oem", "bao1x-hal/oem-baosec-lite"]

verilator-only = []
default = ["oem-baosec-lite"]
