[package]
authors = ["Sean Cross <sean@xobs.io>"]
description = "Manage the video output"
edition = "2018"
name = "graphics-server"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
keyboard = { path = "../keyboard" }
log = "0.4.14"
log-server = { package = "xous-api-log", version = "0.1.60" }
xous = "0.9.64"
susres = { package = "xous-api-susres", version = "0.9.60" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.60" }
locales = { path = "../../locales" }

xous-ipc = "0.10.1"
xous-names = { package = "xous-api-names", version = "0.9.62" }
num-derive = { version = "0.3.3", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }

utralib = { version = "0.1.25", optional = true, default-features = false }

cram-hal-service = { path = "../cram-hal-service", optional = true, features = [
] }
cramium-hal = { path = "../../libs/cramium-hal", optional = true, features = [
    "derive-rkyv",
    "std",
] }

[target.'cfg(any(windows,unix))'.dependencies]
minifb = "0.26.0"

[features]
cramium-soc = [
    "utralib/cramium-soc",
    "cram-hal-service",
    "cramium-hal",
    "cramium-hal/std",
]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
spi-alt-channel = []
debugprint = []
braille = []
gfx-testing = []
ditherpunk = []
default = []
