[package]
authors = ["Sean Cross <sean@xobs.io>"]
description = "Manage the video output"
edition = "2018"
name = "graphics-server"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
keyboard = { path = "../keyboard" }
log = "0.4.14"
log-server = { package = "xous-api-log", version = "0.1.57" }
xous = "0.9.61"
susres = { package = "xous-api-susres", version = "0.9.57" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.57" }
locales = { path = "../../locales" }

xous-ipc = "0.9.61"
xous-names = { package = "xous-api-names", version = "0.9.59" }
num-derive = { version = "0.3.3", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
rkyv = { version = "0.4.3", default-features = false, features = [
    "const_generics",
] }

utralib = { version = "0.1.24", optional = true, default-features = false }

cram-hal-service = { path = "../cram-hal-service", optional = true, features = [
] }
cramium-hal = { path = "../../libs/cramium-hal", optional = true, features = [
    "derive-rkyv",
    "std",
] }

[target.'cfg(any(windows,unix))'.dependencies]
minifb = "0.26.0"

[features]
cramium-soc = [
    "utralib/cramium-soc",
    "cram-hal-service",
    "cramium-hal",
    "cramium-hal/std",
]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
spi-alt-channel = []
debugprint = []
braille = []
gfx-testing = []
ditherpunk = []
default = []
