[package]
authors = ["Sean Cross <sean@xobs.io>"]
description = "Manage the video output"
edition = "2018"
name = "graphics-server"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
keyboard = {path = "../keyboard"}
log = "0.4.14"
log-server = {package = "xous-api-log", version = "0.1.27"}
xous = "0.9.32"
susres = {package = "xous-api-susres", version = "0.9.27"}
ticktimer-server = {package = "xous-api-ticktimer", version = "0.9.27"}

xous-ipc = "0.9.32"
xous-names = {package = "xous-api-names", version = "0.9.29"}
num-derive = {version = "0.3.3", default-features = false}
num-traits = {version = "0.2.14", default-features = false}
rkyv = {version = "0.4.3", default-features = false, features = ["const_generics"]}

utralib = {version = "0.1.13", optional = true, default-features = false }

[target.'cfg(any(windows,unix))'.dependencies]
minifb = "0.23.0"

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
debugprint = []
braille = []
gfx-testing = []
ditherpunk = []
default = []
