[package]
name = "trng"
version = "0.1.0"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "TRNG server"

# Dependency versions enforced by Cargo.lock.
[dependencies]
xous = "0.9.68"
log-server = { package = "xous-api-log", version = "0.1.67" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.67" }
xous-names = { package = "xous-api-names", version = "0.9.69" }
log = "0.4.14"
num-derive = { version = "0.4.1", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
susres = { package = "xous-api-susres", version = "0.9.67" }
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }
xous-ipc = "0.10.8"
rand_core = "0.6.4" # the 0.6.4 API is necessary for compatibility with curve25519-dalek crates
utralib = { version = "0.1.26", optional = true, default-features = false }
flatipc = { path = "../../libs/flatipc" }
flatipc-derive = { path = "../../libs/flatipc-derive" }

[target.'cfg(any(windows,unix))'.dependencies]
rand = "0.8.5"
rand_chacha = "0.3.1"

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
urandomtest = []
ringosctest = []
avalanchetest = []
debugprint = []
default = []                      # "debugprint"
