[package]
name = "sha2-loader"
version = "0.9.5"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "sha2 hardware accelerator engine"

# Dependency versions enforced by Cargo.lock.
[dependencies]

# Rust-standard digest API dependencies
digest = "0.9.0"
block-buffer = "0.9.0"
opaque-debug = "0.3.0" # prevents internal hash state leakage from debug structures
utralib = { version = "0.1.24", optional = true, default-features = false }

[features]
precursor = ["utralib/precursor"]
renode = ["utralib/renode"]
default = []
