[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "COM interface to the EC"
edition = "2018"
name = "com"
version = "0.1.0"

# Dependency policy: nail down all dependencies to the minor version number, so that changes to the code base are deliberate acts.
[dependencies]
com_rs-ref = {path = "../../imports/com_rs-ref"}
log = "0.4.14"
log-server = {path = "../log-server"}
ticktimer-server = {path = "../ticktimer-server"}
susres = {path = "../susres"}
typenum = "1.12"
xous = {path = "../../xous-rs"}
xous-ipc = {path = "../../xous-ipc"}
xous-names = {path = "../xous-names"}
trng = {path = "../trng"}

num-derive = {version = "0.3.3", default-features = false}
num-traits = {version = "0.2.14", default-features = false}
rkyv = {version = "0.4.3", default-features = false, features = ["const_generics"]}

[target.'cfg(not(any(windows,unix)))'.dependencies]
utralib = {path = "../../utralib"}

[target.'cfg(any(windows,unix))'.dependencies]

[features]
debugprint = []
default = [] # "debugprint"
fccagent = []
#default = ["debugprint"] # , "fccagent"
