[package]
authors = ["bunnie <bunnie@kosagi.com>"]
description = "COM interface to the EC"
edition = "2018"
name = "com"
version = "0.1.0"

# Dependency versions enforced by Cargo.lock.
[dependencies]
com_rs = { git = "https://github.com/betrusted-io/com_rs", rev = "891bdd3ca8e41f81510d112483e178aea3e3a921" }
log = "0.4.14"
log-server = { package = "xous-api-log", version = "0.1.68" }
ticktimer-server = { package = "xous-api-ticktimer", version = "0.9.68" }
susres = { path = "../../api/xous-api-susres", package = "xous-api-susres" }
typenum = "1.12"
xous = "0.9.69"
xous-ipc = "0.10.9"
xous-names = { package = "xous-api-names", version = "0.9.70" }
trng = { path = "../trng" }
llio = { path = "../llio" }

num-derive = { version = "0.4.2", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
rkyv = { version = "0.8.8", default-features = false, features = [
    "std",
    "alloc",
] }

xous-semver = "0.1.5"

utralib = { version = "0.1.26", optional = true, default-features = false }

[target.'cfg(any(windows,unix))'.dependencies]

[features]
precursor = ["utralib/precursor"]
hosted = ["utralib/hosted"]
renode = ["utralib/renode"]
debugprint = []
default = []                      # "debugprint"
fccagent = []
#default = ["debugprint"] # , "fccagent"
