[package]
name = "aes"
version = "0.8.4"
authors = ["bunnie <bunnie@kosagi.com>"]
edition = "2018"
description = "AES library for Xous"

# Dependency versions enforced by Cargo.lock.
[dependencies]
cipher = "0.4.2"
zeroize = { version = "1.6.0", optional = true, default-features = false }
rand_chacha = { version = "0.3.1", optional = true, default-features = false }
hex = { version = "0.4.3", optional = true, default-features = false, features = [
    "alloc",
] }
utralib = { version = "0.1.27", optional = true, default-features = false }
bao1x-hal = { path = "../../libs/bao1x-hal", default-features = false, optional = true }

[lints.rust.unexpected_cfgs]
level = "warn"
check-cfg = ["cfg(aes_compact)", "cfg(aes_force_soft)"]

[features]
hazmat = []                                                  # Expose cryptographically hazardous APIs
bao1x = []
vexii-test = []
precursor = []
renode = []
chaffing = ["rand_chacha", "hex"]
loader-baosec = ["utralib/bao1x", "bao1x-hal/loader-baosec"]
loader-dabao = ["utralib/bao1x", "bao1x-hal/loader-dabao"]
default = []
